@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    /* text-transform: uppercase;  Deixa todas as letras maiúsculas*/
    font-variant: small-caps; /* Deixa todas as letras maiúsculas, porém torna a primeira de cada palavra um pouco maior */
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(45, 53, 54);
    color: white;
}

section.imagem > p {
    width: 400px;
    background-color: rgb(35, 39, 38);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}